.booking{
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}
.booking a{
    width: 100%;
    padding: 10px 0;
    font: 500 1.3rem "Roboto", sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.booking i{
    margin-right: 15px;
    font-size: 28px;
}
.whatsapp{background-color: #25D366;}
.telegram{background-color: #0088CC;}
.fast_booking{background-color: #FF914D;}
.heading{
    margin-top: 100px;
    height: fit-content;
    width: 100%;
}
.heading_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading_content h1{
    text-align: center;
    font: 700 2rem "Saira", sans-serif;
    color: black;
}
.heading_content p{
    font: 400 1.2rem "Saira", sans-serif;
    text-align: center;
    width: 100%;
    margin: 30px;
    line-height: 20px;
}
.book_btn{
    background-color: #0C9AE0;
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    color: #fff;
    font: 600 0.9rem "Saira", sans-serif;
    cursor: pointer;
    transition: .3s;
}
.book_btn:hover{color: black;}
.heading_img{
    width: 100%;
    margin: 50px 0;
    display: flex;
    justify-content: center;
}
.heading_img img{width: 100%;}
.car_logos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    margin: 50px 0;
}
.car_logos img{width: 100px;transition: .3s;}
.car_logos img:hover{transform: translateY(-7px);opacity: 0.8;}

@media (min-width:840px) {
    .booking{
        display: flex;
    }
}